.container {
    width: 80%;
    margin: 0 auto;
}

div .available {
    color: green
}

div .priceTag {
    font-size: 20px
}

div .nameDescription {
    font-size: 25px
}

.img-cart {
    display: block;
    max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

table tr th {
    background: #eee;
}

.panel-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
