@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Anime Heaven</title>
    <link rel="stylesheet" href="~/css/homepage.css">
    <link rel="stylesheet" href="~/css/general.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body style="background-color: #90eee6;">
    <header>
        <div class="fixed-header">
            <div class="container">
                <nav>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-area="" asp-controller="Products" asp-action="Add">Add Product</a>
                    <a asp-area="" asp-controller="Products" asp-action="All">All Products</a>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    }
                    else
                    {
                        <a class="user" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        <a class="user" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    }
                </nav>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="fixed-footer">
            <div class="container">Copyright &copy; 2016 Your Company</div>
        </div>
    </footer>

</body>
</html>
