@model AddProductFormModel

@{
    ViewData["Title"] = "Add Product";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Add Product</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Sakura Haruno - Anime Figure / Bleach - Poster / Mikasa Akerman - Plush">
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="20.99">
            </div>
            <div class="form-group">
                <label asp-for="AnimeOrigin"></label>
                <input asp-for="AnimeOrigin" class="form-control" placeholder="Made in abyss/ Keijo/ Assasination Classroom">
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" placeholder="Figure of Orochimaru; heigth: 31cm; weight; 300grams">
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg">
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" placeholder="2002">
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <input class="btn btn-primary" type="submit" value="Save" />
        </form>
    </div>
</div>